.filter-menu{
  display: flex;
    flex-direction: row;
    font-size: 15px;
    z-index: 1;
    position: relative;
    grid-gap: 20px;
    gap: 20px;
    width: auto;
    align-items: flex-start;
}
