.expenses_history {
  gap: 20px;
  display: flex;
  flex-direction: column;
  height: auto;

}

/* #item_card {
  display: flex;
  flex-direction: row;
} */
/* .transaction_card{
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  backdrop-filter: blur(5px);
} */