.card {
  height: 70px;
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(231, 231, 231);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  /* padding: 0px 40px; */
  
}
.transaction_card{
  background: rgba(255, 255, 255, 0.1);
  box-shadow:  2px 2px 20px rgba(255,255,255,0.05);
  overflow: hidden;
  backdrop-filter: blur(5px);
  height: 70px;
  border: solid 1px rgba(231, 231, 231, 0.1);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}