.wallet_container_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 50px;
}

h1 {
  font-size: larger;
  color: #dfdcdc;
}
#see_all_wallets_btn{
    margin-top: 20px;
    border: none;
    background: none;
    color: antiquewhite;
    cursor: pointer;
    text-decoration: underline;
}