.overview_wallet {
  font-size: xx-large;
  margin-bottom: 30px;
}
.overview_details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  z-index:1;
  position: relative;
  gap: 10px;

}
.total_inflow, .total_outflow,.current_amount {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 40px;
  border-radius: 30px;

}

.total_amount { 
  font-weight:bold; 
  margin: 0px;
  }

.flow {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.flow_title,
.flow_amount{
  margin: 0px;
}
.flow_amount {
  font-weight:500;
  color: rgb(252, 252, 252);
}
.flow_title {
  color: rgb(197, 197, 201);
  font-weight: 100;
  font-size: 16px;
}
